:root {
  --accent: rgba(160, 32, 240, 1);
  --accent-alpha-70: rgba(160, 32, 240, .7);
  --accent-alpha-20: rgba(160, 32, 240, .2);

  --background: #21202C;
  --color: white;
  --border-color: rgba(255, 255, 255, .1);
}
 