{% extends "base.html" %}

{% block content %}


<div>
    {{ section.content | safe }}
    <section class="posts">
        {%- set blog_section = get_section(path = "blog/_index.md") -%}
        {%- set show_pages = blog_section.pages -%}

        <h1>Latest blog posts</h1>
        {%- for page in show_pages %}
        {%- if loop.index0 == 5 -%}
            {%- break -%}
        {%- endif -%}
        <div class="post on-list">
            {{ post_macros::header(page=page) }}
        </div>
        {%- endfor -%}
        <a href="{{ blog_section.path | safe }}">View all</a>
    </section>
</div>
{% endblock content%}